# Secure access to source code repos
Host github_lims
  HostName ssh.github.com
  Port 443
  User git
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/github_lims

Host github_bes_lims
  HostName ssh.github.com
  Port 443
  User git
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/github_bes_lims
